ion-list {
  height: 100%;

  ion-item {
    border-radius: 0.5rem;
    margin-top: 3px;

    height: 8vh;

    ion-thumbnail {
      img {
        height: 80%;
        width: 80%;
      }
    }
  }
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

.modalImg {
  width: 100%;
  height: 100%;
}
