ion-accordion-group {
  height: 100%;

  ion-accordion {
    ion-item {
      border-radius: 0.3rem;
      margin-top: 1px;

      height: 10vh;

      ion-thumbnail {
        img {
          height: 90%;
          width: 90%;
        }
      }
    }

    div {
      padding: 0 15px 0 15px;
      ion-item {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
