<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tutoriais de programação </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion *ngFor="let linguagem of linguagens">
      <ion-item lines="full" mode="md" color="light" slot="header">
        <ion-thumbnail slot="start">
          <img [src]="linguagem.img" />
        </ion-thumbnail>
        <h4>{{ linguagem.nome }}</h4>
      </ion-item>

      <div slot="content">
        <ion-item lines="full" mode="md" color="light" *ngFor="let book of linguagem.books">
          <ion-thumbnail slot="start">
            <img [src]="linguagem.img" />
          </ion-thumbnail>
          <a [href]="book.link">{{ book.nome }}</a>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
